<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/artistprofile.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="/profile.js"> </script>



    <script type="text/javascript">


    </script>
</head>

<body>

        <header>
            <nav>

            </nav>
        </header>




        <div id="cover">
            
            <img name="artist_cover_image" src="/<%=cover_photo%>" href="#" alt="cover image not found">
            <form id="coverButton" method="post" enctype="multipart/form-data" action="/coverPic">
            <%if(hisProfile){%>
<input class="coverBtn" type="file" id="changeCover" name="changeCover" accept="image/png, image/jpeg" onchange="form.submit()">
                
                <%}%>
            </form>
        </div>
        <div id="profile">
            <div id="profile-photo-container">
                
                <img name="artist_profile_photo" src="/<%=profile_photo%>" href="#" alt="profile image not found" />
               
                

                <form id="profileButton" method="post" enctype="multipart/form-data" action="/profilePic">
                <%if(hisProfile){%>

                    <input  type="file" id="changeProfile" name="changeProfile" accept="image/png, image/jpeg" onchange="form.submit()">
                    <%}%>
                </form>
            </div>
            <div id="profile-data-container">
                <h2 name="artist_name" id="username" style="pointer-events: none;">@<%=user_name %>
                </h2>
                <div style="pointer-events: none;" name="artist_data" id="artist-data"><span style="pointer-events: none;" name="artworks_number" id="artworks_number">
                        <%=blogs.length%>
                    </span> Artworks • <span style="pointer-events: none;" id="followersNumber" name="followers_number">
                        <%=followers%>
                    </span> Followers</div>
                <br>
                <%if((!hisProfile)&&isFollowing===true){%>

                    <button name="unfollow" id="follow-button" type="button" style="color:rgb(150, 150, 150)" value="<%=artist_id%>">unfollow</button>
                    <%}%>
                        <%if((!hisProfile)&&isFollowing==false){%>
                            <button name="follow" id="follow-button" type="button"
                                value="<%=artist_id%>">Follow</button>
                            <%}%>


            </div>

        </div>




        <main>

            <div id="artworks-header" style="pointer-events: none;">Artworks</div>
            <hr color="silver">
            <br>



            <%if(blogs.length>0){%>
                <%if(hisProfile){%>
                    <div class="artworks" name="artworks_view">

                        <%blogs.map((blog)=>{%>

                            <div class="artwork" name="artwork_card" id="<%=blog.design_id%>">
<button id="remove" name="<%=blog.design_id%>" onclick="return confirm('Are you sure?')">x</button>
                                <div class="image_container">

                                    <%if((blog.design_source=="local")){%>
                                    <img name="design_image" class="design" src="/<%=blog.design_path%>" href="#"
                                        alt="design image not found" class="design_image">
                                        <%}%>
                                        <%if((blog.design_source=="API")){%>
                                            <img name="design_image" class="design" src="https://www.artic.edu/iiif/2/<%=blog.design_path%>/full/843,/0/default.jpg" href="#"
                                                alt="design image not found" class="design_image">
                                                <%}%>


                                </div>
                                <div class="heart-icon" name="fav_button">
                                    <span style=" color:#000000;pointer-events: none;" id="<%=blog.design_id%>">
                                        <%if(parseInt(blog.likes)>0){%>
                                            <%=blog.likes%> Likes

                                                <%} %>
                                                    <%if(!(parseInt(blog.likes)>0)){%>
                                                        0 Likes
                                                        <%} %>
                                    </span>




                                </div>



                                <div class="artwork-data" name="product_data">
                                    <h4 name="artwork_title">
                                       <a href="design/<%=blog.design_id%>"><%=blog.design_title%></a>
                                    </h4>
                                    <p name="artwork_price">
                                        <%=blog.design_price%>$
                                    </p>
                                </div>
                            </div>

                            <%})%>
                    </div>


                    <% }%>
                        <%if(!(hisProfile)){%>
                            <div class="artworks" name="artworks_view">
                                <%blogs.forEach((blog)=>{%>

                                    <div class="artwork" name="artwork_card">

                                        <div class="image_container">

                                            <%if((blog.design_source=="local")){%>
                                                <img name="design_image" class="design" src="/<%=blog.design_path%>" href="#"
                                                    alt="design image not found" class="design_image">
                                                    <%}%>
                                                    <%if((blog.design_source=="API")){%>
                                                        <img name="design_image" class="design" src="https://www.artic.edu/iiif/2/<%=blog.design_path%>/full/843,/0/default.jpg" href="#"
                                                            alt="design image not found" class="design_image">
                                                            <%}%>

                                        </div>
                                        <%if(likedDesigns.indexOf(blog.design_id)!==-1){%>
                                            <div class="heart-icon" name="fav_button">
                                                <span style=" color:#000000;pointer-events: none;" id="<%=blog.design_id%>" style=" color:#000000;pointer-events: none;">
                                                    <%if(parseInt(blog.likes)>0){%>
                                                        <%=blog.likes%>

                                                            <%} %>
                                                                <%if(!(parseInt(blog.likes)>0)){%>
                                                                    0
                                                                    <%} %>


                                                </span>
                                               
                                                <button name="liked" class='bx bx-heart' id="<%=blog.design_id%>"
                                                    value="Liked" style="border: none; outline: none;background-color: transparent; color:Tomato;"> </button>



                                            </div>

                                            <%}%>
                                                <%if(likedDesigns.indexOf(blog.design_id)===-1){%>
                                                    <div class="heart-icon" name="fav_button">
                                                        <span style=" color:#000000;pointer-events: none;"id="<%=blog.design_id%>" style="color:#000000;pointer-events: none;">
                                                            <%if(parseInt(blog.likes)>0){%>
                                                                <%=blog.likes%>

                                                                    <%} %>
                                                                        <%if(!(parseInt(blog.likes)>0)){%>
                                                                            0
                                                                            <%} %>
                                                        </span>
                                                        

                                                        <button name="notliked" class='bx bx-heart'
                                                            id="<%=blog.design_id%>" value="notLiked"
                                                            style="border: none; outline: none;background-color: transparent;color:rgb(0, 5, 15);">
                                                        </button>



                                                    </div>

                                                    <%}%>



                                                        <div class="artwork-data" name="product_data">
                                                            <h4 name="artwork_title">
                                                                <%=blog.design_title%>
                                                            </h4>
                                                            <p name="artwork_price">
                                                                <%=blog.design_price%>$
                                                            </p>
                                                        </div>
                                    </div>

                                    <%})%>
                            </div>



                            <%}%>

                                <%}%>
















        </main>



        <br>
        <br>
        <br>
        <br>





</body>

</html>