<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="checkout.css">
</head>
<body>

<div id="flex-container">
    <div id="products-container">
        <ul id="products-list">
            <% products.forEach(product => { %>
                <li>
                    <span id="design_title" name="design_title"><%= product.design_title %></span>
                    <span id="product" name="product"><%= product.template_name %></span><br>
                    <span style="font-size: 20pt;">
                        <span id="quantity" name="quantity"><%= product.quantity %></span> pieces<br>
                        $<span id="total-for-product" name="total-for-product"><%= product.fp_price %></span>
                    </span>
                </li>
            <% }); %>
        </ul>

        <div id="order-data">
            <h3>Summary</h3>
            <div>Sub-total ..............$<span name="order-total"><%= orderTotal %></span></div>
            <div>Shipment ...............$20</div>
            <hr style="width: 550px; margin-left: 0px;">
            <div>Total ..................$<span name="order+shipment"><%= orderTotal + 20 %></span></div>
            <br>
            <br>
        </div>
    </div>

    <div id="details-container">
        <form id="confirm-form" action="/confirm-order" method="post">
            <h3>Order Confirmation</h3>
            <div class="text_field">
                <input type="email" name="email_input" id="email_input" required>
                <label>Email</label>
            </div>
            <div class="text_field">
                <input type="password" name="password_input" id="password_input" required>
                <label>Password</label>
            </div>
            <div class="text_field">
                <input type="text" name="postalCode" id="postalCode" required>
                <label>Postal Code</label>
            </div>
            <button type="submit" name="confirm_button" id="confirm-button">Confirm Order</button>
        </form>
    </div>
</div>



</body>
</html>
