<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>explore</title>
        <link rel="stylesheet" href="/pro.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="/product.js"> </script>
    </head>
    <body>
     

<div class="small-container single-product">
    <div class="col">
      <img name="temp_before_image" src="/<%=product.template_before%>"  alt="before image not found">
      <img name="temp_design" class="design" src="/<%=product.design_path%>"  alt="design image not found" class="design_image">
      <img name="temp_after_image" src="/<%=product.template_after%>" alt="after image not found">
  </div>
      <div class="col">
        <h1><span name="design_title"><%= product.design_title %></span> <span name="product"><%= product.poduct_id %></span></h1>
        <h4>By <a href="/<%= product.artist%>" name="artist_name"><%= product.artist%></a></h4>
        <h4>$<span name="product_price"><%= product.price %></span></h4>
        <input type="number" min="1" name="<%=productId%>" id="quantity">
        <button class="btnn" type="submit" id="addToCart" name="add_to_cart" id="add_to_cart">Add to Cart</button>
        <h3>Artwork Description</h3>
        <br>
        <p name="design_description"><%= product.description%></p><br><br>

      </div>
    
  </div>
<!---------------------------------------->


<div id="reviews-container">
    <%if(reviews.length>0){%>
    <% reviews.map((review) => { %>
      <div id="review">
        <div name="reviewssss" ><h3>Reviews</h3></div><br>
        <div name="username" id="username"><b><%= review.user_name %></b></div>
        <div name="review_text" id="review_text"><%= review.review_text %></div>
      </div><br><br>
    <% }); %>
    <%}%>
  </div>
  
  <form  id="review" action="/reviews" method="post">
    <input type="text" name="review_text" placeholder="Add a review">
    <button type="submit">Submit</button>
  </form>
    </body>
</html>